@font-face {
font-family: 'msyhl341111';
src: url('msyhl.eot');
src: url('msyhl.eot?#iefix') format('embedded-opentype'),
     url('msyhl.woff') format('woff'),
     url('msyhl.ttf') format('truetype'),
     url('msyhl.svg#msyhl') format('svg');
    font-weight: normal;
    font-style: normal;
   }